@inherits LayoutComponentBase

<Layout>
  <LayoutHeader>
    Header
  </LayoutHeader>
  <LayoutContent>
    <div >Content</div>
    <div ><Button Color="Color.None">Test button</Button></div>
  </LayoutContent>
  <LayoutFooter>
    Footer
  </LayoutFooter>
</Layout>
